{# template show.html.twig BEGIN #}

{% extends 'base.html.twig' %}

{% block title %}{{ post.author }}'s post{% endblock %}

{% block body %}
    <h1>{{ post.title }}</h1>
{% endblock %}
{# template show.html.twig END #}
